/* body{
    background-image: url('assets/building.jpg');
    background-size:cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
} */

/* main{
    background-color: #410613;
    opacity: 1;
    height: 1000px;
    width: auto;
    margin: -60px -8px -2px;
    margin-bottom: -8px;

} */

body{
    background-color: #0a0220;
}

header{
    display: block;
    white-space: nowrap;
    box-shadow: 10px, 10px;
    
    
}

.fixed-top{
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    z-index: 1030;
}
#header{
    height: 90px;
    transition: all 0.5s;
    z-index: 997;
    transition: all 0.5s;
   
}

#logo{
    height: 80px; 
    width: 70px; 
    box-shadow: none;
    padding-left: 40px;
    padding-top: 7px;
}

.nav-content{
    text-indent: 30px;
    display: flex;
    padding-left: 840px;
    font-size: 17px;
    font-weight: lighter;
    margin-top: 10px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
a{ 
    color: rgb(255, 255, 255);
    margin-top: 20px;
    text-decoration: none;
} 

a:hover {
    color: red;
    text-decoration: underline;
}
a.active{
    color: aqua;
}


@keyframes fadeInAndSlide {
    from {
      opacity: 0;
      transform: translateY(50px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
  
.head-animate {
    animation: fadeInAndSlide 1s ease-in-out forwards;
}





.box-content{
    display: inline-flex;
    margin-left: 2rem;
    margin-right: 2rem; 
    overflow: none;
    margin-top: 190px;
    
}

.gallery{
    justify-content: space-evenly;
    overflow: hidden;
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 340px;
    width: auto;
    border: 4px transparent rgb(255, 255, 255);
    opacity: 1;
    display: block;
    transition: .5s ease;
    backface-visibility: hidden;

}

.box:hover{
    transform: scale(1.1);
        transition: transform 0.3s;
        box-shadow: 2px 2px 5px 5px #04e1f1;
}


.gallery1{
    height: 270px;
    width: auto;
    padding-top: 40px;
}


.hover-effect:hover{
    color: aqua;
}

.box-head{
    color: white;
    text-align: center;
}

.explore{
    padding-top: -100px;
    margin-top: -40px;
    margin-left: 60px;
    font-size: 15px;
}

.container {
    position: relative;
    width: 50%;
  }
  
  
  .middle {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
  }
  
  .container:hover .gallery {
    opacity: 0.3;
  }
  
  .container:hover .middle {
    opacity: 1;
  }


.text {
    background-color: aqua;
    color: black;
    font-weight: bold;
    font-size: 10px;
    padding: 16px 32px;
}

.text2{
    
    color: black;
}


.logo1{
    height: 300px;
    width: auto;
}

.box{
    display: inline-block;
    border: 2px solid rgb(255, 255, 255);
    height: 500px;
    width: 300px;
    background-color: rgba(0, 0, 0, 0);
    margin-right: 4rem;
    margin-left:4rem;
    margin-top: -100px
}
.container2{
    margin-left: 450px;
    margin-right: 450px;
}

.middle2{
    margin-left: 100px;
    margin-right: 100px ;
}

video{
    height: 380px;
    width: 250;
    margin-left:42px;
}


.bottom-text{
    color: white;
    font-size: 16px;
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
   
}

/* footer{
    background-color: #04043b;
    opacity: 0.8;
    height: 10rem;
    width: auto;
    margin: 8px -8px -2px;
    margin-bottom: -8px;
} */


.feedback{
    border:none;
    border-radius: 20px;
    height: 40px;
    width: 130px;
    background-color:rgb(54, 253, 5);
    color: #000000;

    position: fixed;
    top: 510px;
    left: 1110px;
    right: 200px;
    z-index: 1030;
    font-weight: bold;
}
.feedback:hover{
    background-color: #57fff7;
    border-color: cadetblue;
}
.feedback{
    animation: scrollDownAnimation .5s ease infinite alternate;
    animation-duration: 0.5s;
    animation-timing-function: inherit;
    animation-delay: 0s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-fill-mode: none;
    animation-play-state: running;
    animation-name: scrollDownAnimation;
    animation-timeline: auto;
}
@keyframes scrollDownAnimation{
    from{transform:translateY(0);}
    to{transform:translateY(-5px);}
}